ul,li{
    padding: 0;
}
.bookList>h3{
    margin: 0;
}
.bookList-all{
    border: 1px solid blueviolet;
    border-radius: 5px;
    overflow:auto;
    height: 345px;
    padding: 10px;
    background-color: blueviolet;

}
/* Track */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track background */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:blueviolet;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 17, 116);
  }
  
.totalAmount{
    bottom: 0;
}

.card-details>img{
    width: 40px;
    height: 60px;
}
.card-details>h4{
    padding: 0 0 0 10px;
    color: blueviolet;
}
.bookCard{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}
.card-details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
}
.totalAmount{
    background-color: blueviolet;
    color: white;
    font-weight: bolder;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid white;
}
.totalAmount>span{
margin: 0;
}
.totalAmount>p{
    margin: 0;
    font-size: 25px;
}
.BookTitlePrice>h4{
    margin-top: 0;
    margin-bottom: 0;
}
.BookTitlePrice>span{
    margin-top: 0;
    margin-bottom: 0;
}
.BookTitlePrice{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
}
.price{
    font-size: 15px;
}
.author{
    font-size: 13px;
}
.dltBtn{
    width: 15%;
}
.dltBtnSign{
    position: relative;
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
    margin-top: 20px;
}
.horizontal,
.vertical {
  position: absolute;
  background-color: rgb(255, 0, 0);
}

.horizontal {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}

.vertical {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}